VITE_PROJECT_URL_SUPABASE=https://wkycfjvqotukprizfhga.supabase.co
VITE_SUPABASE_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndreWNmanZxb3R1a3ByaXpmaGdhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUwNzE3ODAsImV4cCI6MjEwMDY0Nzc4MH0.uLreGlKW8D0Y1UNeY6S2nmi8Np5xpSiqmF-uRP1Bz_Y
